


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

body{
  /* background: #3d3d3d ;  fallback for old browsers */
 /* background-image:url(https://i.pinimg.com/originals/69/7d/b5/697db530fad0c214392cccc14f5e2fd9.jpg)  */
} 

* {
  margin: 0;
  /*font-family: "Quicksand";*/
  font-family: 'Tajawal', sans-serif;
  
}



.navbar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* background-color: aliceblue; */
  background-color: aliceblue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
  
  

}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}

.home-content{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(https://i.pinimg.com/originals/69/7d/b5/697db530fad0c214392cccc14f5e2fd9.jpg);
  height: 590px;
  

}



.links{
  display: flex;
  flex-direction: row;
}

.link{
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.contact{
  padding: 60px;
  display: flex;
  align-items: center;
}


.section{
  padding:60px;
  text-align: center;
}

.strength{
  display:flex;
  height: 200px;
}

.strength-img{
  height: 175px;
  width:200px;
}

.card-flex{
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 60px 60px;
}

.card-container{
  width:300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px;
  transition: 0.3s;
  animation: ease-in;
}

.card-container:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}


.img-container{
  height:200px;
  overflow: hidden;
  
}

.blog-img-container{
  height:200px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px;
  margin: 9px 9px 9px 9px;
  
}

.aboutus{
  @media screen and (max-width:480px){
    display:none
  }
}